// Place all the styles related to the public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.logo {  
  margin: 20px 0;
  img {
        border: 2px dashed;
        width: 100%;
        height: 400px;
  }
}

 


