//= require astronomy
//= require fancybox/source/jquery.fancybox.scss

@font-face {
  font-family: Velocity;
  src: asset-url("velocity.ttf");
}

#logo {
  margin-top: 5px;

  a {
    height: 50px;
    font-family: "Velocity";
    color: #7587A7;
    font-size: 30px;
    text-decoration: none;
    &:hover {
      color: #BAD0F7;
    }
  }
}

.about-text {
   padding-top: 20px;
}



.devise {
  color: white;

  .text_input {
    width: 100%;
    font-size: 20px;
    font-family: "Arial";
  }

  .help-block {
    display: block;
  }

  .form-group {
    margin-bottom: 10px;
  }

  p {
    padding-bottom: 0 !important;
  }
}

#flash {
  .alert {
    width: 70%;
    margin: 0 auto;
    color: white;

    &:first-child {
      padding-top: 30px;
    }
    &:last-child {
      padding-bottom: 30px;
    }
  }

  .close {
    background: transparent;
    border: none;
    float: right;
    font-size: 26px;
    cursor: pointer;
    outline: none;
  }

}

.pagination {
  margin: 20px 0;
}

.devise {
  .form-group {
    display: block;
  }

  .text_input {
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    outline: none;
  }

  .checkbox {
    display: block;
    input {
      width: auto;
      height: auto;
      margin-top: 2px;
      margin-right: 4px;
    }
  }
}



.content-wrapper {
  img {
    max-width: 100% !important;
  }
}
