<div class="wrapper clearfix">
  <div id="sidebar">

    <ul>
      <li>
        <%=  image_tag("logo/raphy_main.png", height: 154, width: 213)  %>
        <%= link_to "Raphy Team", "http://github.com/raphy-bsu/" , class: 'btn1 center' %>
      </li>
    </ul>
  </div>

  <div class="main">
    <h1>О проекте</h1>
    <p>Идея проекта - создание учебного маекта Малого космического аппарата на основе
      промышленных компьютеров и модулей. В результате получится комплекс, который
      будет использоваться в образовательном процессе БГУ и для отладки оборудования
      реальных МКА.</p>
  </div>
</div>
