<div class="row">
  <div class="col-md-5">
    <div class="logo">
      <%=  image_tag("logo/raphy_main.png", height: '320', width: '320')  %>
    </div>
  </div>
  <div class="col-md-7">
  </div>
</div>
