<div class="row">
  <div class="col-md-5 ">
    <div class="logo">
      <%=  image_tag("logo/raphy_main.png", :class => "img-responsive")  %>
    </div>
     <h1 class="text-center">  <%= link_to "О команде", "http://github.com/raphy-bsu/"  %>  </h1>
  </div>
  <div class="col-md-7 about-text">
    <div class="description center-block">
       <h1 class="text-center">  О проекте  </h1>
      <p> <b>Идея проекта</b> - создание учебного маекта Малого космического аппарата на основе
        промышленных компьютеров и модулей. В результате получится комплекс, который
        будет использоваться в образовательном процессе БГУ и для отладки оборудования
         реальных МКА.   </p>
    </div>
  </div>
</div>
