<div class="row">
  <div class="col-md-5">
    <div class="logo">
      <%=  image_tag("logo/raphy_main.png", :class => "img-responsive")  %>
    </div>
  </div>
  <div class="col-md-7">
    <div class="description center-block">
      <h1>About Team</h1>
      <p> Welcome to the Satellite Project! We a young team of ambitious students, doing interesting projects.   </p>
    </div>
  </div>
</div>
