<div class="row">
  <div class="col-md-5 ">
    <div class="logo">
      <%=  image_tag("logo/raphy_main.png", :class => "img-responsive")  %>
    </div>
     <h1 class="text-center">  <%= link_to "About Us", "http://github.com/raphy-bsu/"  %>  </h1>
  </div>
  <div class="col-md-7 about-text">
    <div class="description center-block">
       <h1 class="text-center">  About Team  </h1>
      <p> Welcome to the Satellite Project! We are a young <%= link_to "Team", "http://github.com/raphy-bsu" %> of ambitious students, doing interesting projects.   </p>
    </div>
  </div>
</div>
