<div id="contact" class="wrapper clearfix">
  <div class="main">
    <h1>Свяжитесь с нами</h1>
    <form action="index.html" method="post">
      <ul>
        <li>
          <input type="text" value="Полное имя" onBlur="javascript:if(this.value==''){this.value=this.defaultValue;}" onFocus="javascript:if(this.value==this.defaultValue){this.value='';}">
        </li>
        <li>
          <input type="text" value="Email" onBlur="javascript:if(this.value==''){this.value=this.defaultValue;}" onFocus="javascript:if(this.value==this.defaultValue){this.value='';}">
        </li>
        <li>
          <textarea onBlur="javascript:if(this.value==''){this.value=this.defaultValue;}" onFocus="javascript:if(this.value==this.defaultValue){this.value='';}">Сообщение</textarea>
        </li>
        <li>
          <input type="submit" value="Отправить" class="btn3">
        </li>
      </ul>
    </form>
  </div>
</div>
