<div class="row">
  <% unless Info.all.count.zero? %>
    <div class="col-md-6" >
      <h1>История данных
          <%= link_to 'Очистить', clean_infos_path, method: :post, class: 'btn btn-danger pull-right' %>
      </h1>
      <table class="table table-striped">
        <thead>
            <th>Температура</th>
            <th>Влажность</th>
            <th>Дата создания</th>
        </thead>
        <tbody>
          <% @ordered.each do |record| %>
            <tr>
              <td><%= record.try(:temp) %></td>
              <td><%= record.try(:hum) %></td>
              <td><%= record.try(:created_at).try(:strftime, "%T, %D") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 chart-wrapper" >
      <h1>График температуры и влажности</h1>
      <div id="lineLegend"></div>
      <canvas id="temp_chart" width="600" height="400"></canvas>
    </div>
  <% else %>
    <div class="col-md-6 col-md-offset-3" >
      <h1>Пока данных нет. Запустите спутник</h1>
    </div>
  <% end %>
</div>
